* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0A0A0A;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner {
    background-color: #9956F6;
}

h1 {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 16px;


}

.right, .left {
    cursor: pointer;
}