body {
    background-color: #0A0A0A;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner {
    background-color: #9956F6;
}

h1 {
    text-align: center;
}